.btn--green{
    color: $color--fifth;
}
.btn--gray{
    color: $color--secondary;
}
.btn--link{
    &:hover{
        text-decoration: none;
    }
}
.btn--nodeco{
    text-decoration: none;
    color: initial;
}