$color--primary:#fff;
$color--secondary: #f1f1f2;
$third--color:#978b7f;
$color--fourth:rgb(0, 0, 0);
$color--fifth:#00bf70;
$color--sixth:rgba(221, 213, 213, 1);
$color--seven:#978b7f;
$color--eight:#c1c1ccad;