.logo{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: center;
}
.logo--bgblack{
    background-color: $color--fourth !important;
    margin: 0;
    justify-content: normal;
    .logo__img{
        filter: invert(1);
    }
}