

.nav{
    //padding: 0 3em 0 3em;
    width: 66%;
    display: flex;
    justify-content: space-between;
    .nav__list{
        padding-left: 7rem;
    }
}
.header__data{
    width: 19%;
    background-color:#f1f1f2;
    display: flex;
    .header__data__list{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0 0.7em;
        li{
            display: inline-block;
            font-size: 0.7rem;
            padding: 0 0.5rem 0 0.5rem;
        }
    }
}

@import '../partials/lists';
@import '../partials/links';
@import '../partials/buttons'